---
title: Honai Ueoka
description: Honai Ueoka's portfolio website.
---
<%
  url = "https://www.honai.me" + page.url.slice(0, -1)
%>
<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <link rel="canonical" href="<%= url %>">
  <link rel="icon" href="/favicon.ico">
  <meta property="og:url" content="<%= url %>">
  <meta property="og:type" content="website">
  <meta property="og:title" content="<%= title %>">
  <meta property="og:description" content="<%= description %>">
  <meta property="og:image" content="https://www.honai.me/images/profile.png">
  <meta property="og:locale" content="ja_JP">
  <meta property="fb:app_id" content="1144529745735811">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@_honai">
  <link rel="stylesheet" href="https://use.typekit.net/bdo3rru.css">
  <link rel="stylesheet" href="/style.css">
  <!-- <script data-ad-client="ca-pub-9155380222623167" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script> -->
</head>

<body class="body-layout">
  <%- include('/header') %>
  <main class="main-content">
    <%- content %>
  </main>
</body>
