<%
  const siteDomain = 'https://www.honai.me'
  const completeUrl = siteDomain + page.url.slice(0, -1)
  const locale = 'JP'
  const username = '@_honai'
%>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="canonical" href="<%= completeUrl %>">
<title><%= title %></title>
<meta name="description" content="<%= description %>">

<meta property="og:url" content="<%= completeUrl %>">
<meta property="og:title" content="<%= title %>">
<meta property="og:description" content="<%= description %>">
<meta property="og:image" content="<%= og_image_url %>">
<meta property="fb:app_id" content="1144529745735811">
<meta property="og:locale" content="<%= lang %>_<%= locale %>">

<meta name="twitter:card" content="<%= large_card ? 'summary_large_image' : 'summary' %>">
<meta name="twitter:site" content="<%= username %>">

<link rel="icon" href="/favicon.ico">
