---
layout: portfolio-base.ejs
---
<section class="simple-card">
  <h2 class="heading" id="about">
    <a href="#about" class="anchor">About</a>
  </h2>
  <div class="content">
    <div class="profile-section">
      <img src="/images/me.jpg" alt="honaiの写真" class="icon">
      <div class="name">
        <div class="ja">上岡 輔乃</div>
        <div class="en">Honai Ueoka</div>
      </div>
    </div>
  </div>
  <div class="content">
    <p>
      京都大学大学院 情報学研究科 通信情報システム専攻
      / 修士課程（2023年3月修了予定） / CAMPHOR- 運営メンバー
    </p>
  </div>
  <div class="content">
    <ul class="social-links _reset-ul">
      <% for (const L of profile.links) { %>
        <li class="item">
          <a href="<%= L.url %>" class="link _reset-a">
            <img src="<%= L.icon %>" alt="<%= L.alt %>" class="icon">
            <span class="text"><%= L.text %></span>
          </a>
        </li>
      <% } %>
    </ul>
  </div>
</section>

<section class="simple-card">
  <h2 class="heading" id="education">
    <a href="#education" class="anchor">Education</a>
  </h2>
  <% for (const E of profile.education) { %>
    <div class="content">
      <div class="education-item">
        <div class="period"><%= E.period %></div>
        <div class="desc"><%= E.title %></div>
      </div>
    </div>
  <% } %>
</section>

<section class="simple-card">
  <h2 class="heading" id="intern">
    <a href="#intern" class="anchor">Internships / Employments</a>
  </h2>
  <% for (const E of profile.jobs) { %>
    <div class="content">
      <div class="education-item">
        <div class="period"><%= E.period %></div>
        <div class="desc"><%= E.title %></div>
      </div>
    </div>
  <% } %>
</section>

<section class="simple-card">
  <h2 class="heading" id="publications">
    <a href="#publications" class="anchor">Publications</a>
  </h2>
  <% for (const P of profile.publications) { %>
    <div class="content">
      <%= P.authors %>
      <br>
      <strong><%= P.title %></strong>
      <br>
      <%= P.journal %>
      <br>
      <% for (const L of P.links) { %>
        <a href="<%= L.url %>"><%= L.text %></a>&ensp;
      <% } %>
    </div>
  <% } %>
</section>

<section class="simple-card">
  <h2 class="heading" id="presentations">
    <a href="#presentations" class="anchor">Presentations</a>
  </h2>
  <div class="content">
    <ul class="_reset-ul slide-list">
      <% for (const s of slides) { %>
        <li class="slide-item">
          <a href="<%= s.url %>" class="link _reset-a">
            <img
              src="/images/slide_thumb/<%= s.thumb %>"
              alt="<%= s.title %>のスライドのサムネイル"
              class="thumb"
              loading="lazy">
            <div class="texts">
              <div class="title"><%= s.title %></div>
              <div class="subtitle"><%= s.subtitle %></div>
              <div class="date"><%= s.date %></div>
            </div>
          </a>
        </li>
      <% } %>
    </ul>
  </div>
</section>

<section class="simple-card">
  <h2 class="heading" id="works">
    <a href="#works" class="anchor">Works</a>
  </h2>
  <div class="content">
    <div class="works-gallery">
      <a href="https://lotus.kuee.kyoto-u.ac.jp/NLPforCOVID-19/" class="thumblink">
        <img src="/images/covid-19-watcher.png" alt="COVID-19 World Information Watcher" class="thumb" loading="lazy">
      </a>
      <a href="https://excelm.honai.me/" class="thumblink">
        <img src="/images/excelm.png" alt="ExcElm" class="thumb" loading="lazy">
      </a>
    </div>
    <div class="works-page-link">
      <a href="/works">See more</a>
    </div>
  </div>
</section>

<section class="simple-card">
  <h2 class="heading" id="blog">
    <a href="#blog" class="anchor">Blog</a>
  </h2>
  <div class="content">
    <a href="/blog">Honai's Blog</a>
  </div>
</section>
