---
baseUrl: https://www.honai.me/
title: Honai Ueoka
---
<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <link rel="icon" href="/favicon.ico">
  <meta property="og:url" content="<%= baseUrl %>">
  <meta property="og:title" content="<%= title %>">
  <meta property="og:image" content="https://www.honai.me/images/profile.png">
  <meta property="og:locale" content="ja_JP">
  <meta property="fb:app_id" content="1144529745735811">
  <link rel="stylesheet" href="https://use.typekit.net/bdo3rru.css">
  <link rel="stylesheet" href="/style.css">
</head>

<body>
  <div class="body-layout">
    <header>
      <div class="site-hero">
        <div class="profile-icon">
          <img class="icon _rounded" src="/images/profile.png" alt="profile icon">
        </div>
        <div class="titles">
          <h1 class="title">Honai Ueoka</h1>
          <div class="subtitle">Welcome to my portfolio.</div>
        </div>
      </div>
      <ul class="social-links _reset-ul">
        <li class="link">
          <a href="https://github.com/honai" class="icon _reset-a">
            <img src="/images/github.svg" alt="Github Logo" class="img" />
          </a>
        </li>
        <li class="link">
          <a href="https://twitter.com/_honai" class="icon _reset-a">
            <img src="/images/twitter.svg" alt="Twitter Logo" class="img"/>
          </a>
        </li>
      </ul>
    </header>
    <main class="main-content">
      <section class="section">
        <h2 class="heading-first">基本情報</h2>
        <div class="my-name">
          上岡 輔乃 (Honai Ueoka)
        </div>
        <ul class="current-profile">
          <li>
            京都大学大学院 情報学研究科 通信情報システム専攻
            <a href="http://icn.cce.i.kyoto-u.ac.jp/">大木研究室</a>
          </li>
          <li>修士課程（2023年3月修了予定）</li>
          <li>学生コミュニティ <a href="https://camph.net/">CAMPHOR-</a> 運営メンバー</li>
        </ul>
      </section>
      <section class="section">
        <h2 class="heading-first">経歴</h2>
        <ol class="history-list _reset-ul">
          <li class="history-item">
            <div class="period">2021.4 - 現在</div>
            <h3 class="title">京都大学大学院 情報学研究科</h3>
            <div class="desc">
              修士課程の学生として、通信情報システム専攻 大木研究室でネットワークなどの勉強・研究を行っています。
            </div>
          </li>
          <li class="history-item">
            <div class="period">2021.3 - 現在</div>
            <h3 class="title">ピクシブ株式会社（アルバイト）</h3>
            <div class="desc">
              アルバイトとして、イラストコミュニケーションサービスpixivの開発を行っています。
            </div>
          </li>
          <li class="history-item">
            <div class="period">2019.4 - 現在</div>
            <h3 class="title">CAMPHOR-</h3>
            <div class="desc">
              京都のIT系学生コミュニティCAMPHOR-のメンバーとして、
              学生が無料で使えるコワーキングスペースの管理、勉強会の企画・開催などを行っています。
            </div>
          </li>
          <li class="history-item">
            <div class="period">2017.4 - 2021.3</div>
            <h3 class="title">京都大学工学部 電気電子工学科</h3>
            <div class="desc">
              電気・電子・通信・情報の基礎を学びました。
              <a
                href="https://www.s-ee.t.kyoto-u.ac.jp/ja/information/laboratory/lm"
              >言語メディア分野（黒橋研究室）</a>で自然言語によるステガノグラフィーに関する卒業研究を行いました。
            </div>
          </li>
          <!-- <li class="history-item">
            <div class="period">2020.3</div>
            <h3 class="title">ピクシブ株式会社</h3>
            <div class="desc">
              インターンとして、イラストコミュニケーションサービスpixivの開発に参加しました。
              Webフロントエンドのブックマーク機能の改善に取り組みました。
            </div>
          </li> -->
          <li class="history-item">
            <div class="period">2019.8</div>
            <h3 class="title">株式会社サイバーエージェント（インターン）</h3>
            <div class="desc">
              インターンとして、子会社である株式会社Cyber-Zの事業「OPENREC.tv」の開発に参加しました。
              Webフロントエンドのチャット機能の改善に取り組みました。
            </div>
          </li>
          <li class="history-item">
            <div class="period">2017.5 - 2018.12</div>
            <h3 class="title">京都大学11月祭事務局</h3>
            <div class="desc">
              京都大学の学園祭の運営にあたりました。
            </div>
          </li>
        </ol>
      </section>
      <section class="section">
        <h2 class="heading-first">論文</h2>
        <ul class="pub-list _reset-ul">
          <li>
            <details>
              <em class="me">Honai Ueoka</em>, Yugo Murawaki and Sadao Kurohashi.
              <br>
              <summary>Frustratingly Easy Edit-based Linguistic Steganography with a Masked Language Model.</summary>
              In Proceedings of the 2021 Conference of the North American Chapter of the Association for Computational Linguistics: Human Language Technologies (NAACL-HLT 2021), pp. ???-???, online, June 2021. (to appear). (short paper).
            </details>
          </li>
          <li>
            <details>
              Akiko Aizawa, Frederic Bergeron, Junjie Chen, Fei Cheng, Katsuhiko Hayashi, Kentaro Inui, Hiroyoshi Ito, Daisuke Kawahara, Masaru Kitsuregawa, Hirokazu Kiyomaru, Masaki Kobayashi, Takashi Kodama, Sadao Kurohashi, Qianying Liu, Masaki Matsubara, Yusuke Miyao, Atsuyuki Morishima, Yugo Murawaki, Kazumasa Omura, Haiyue Song, Eiichiro Sumita, Shinji Suzuki, Ribeka Tanaka, Yu Tanaka, Masashi Toyoda, Nobuhiro Ueda, <em class="me">Honai Ueoka</em>, Masao Utiyama, Ying Zhong.
              <br>
              <summary>A System for Worldwide COVID-19 Information Aggregation.</summary>
              Workshop on NLP for COVID-19 (Part 2) at EMNLP 2020, online, November 2020. (workshop)
              <a href="https://www.aclweb.org/anthology/2020.nlpcovid19-2.13/">paper</a>
            </details>
          </li>
        </ul>
      </section>
      <section class="section">
        <h2 class="heading-first">登壇資料</h2>
        <ul class="_reset-ul slide-list">
          <% for (const s of slides) { %>
            <li class="slide-item">
              <a href="<%= s.url %>" class="link _reset-a">
                <div
                  class="thumb"
                  style="background-image: url(/images/slide_thumb/<%= s.thumb %>);"
                ></div>
                <div class="title"><%= s.title %></div>
                <div class="date"><%= s.date %></div>
              </a>
            </li>
          <% } %>
        </ul>
      </section>
      <section class="section">
        <h2 class="heading-first">ブログ記事</h2>
        <div>
          <a href="https://blog.honai.me/">ブログ</a>
        </div>
        <ul>
          <% for (const p of collections.posts.slice(0, 5)) { %>
            <li><%= p.data.title %></li>
          <% } %>
        </ul>
      </section>
      <section class="section">
        <h2 class="heading-first">作ったもの</h2>
      </section>
    </main>
  </div>
</body>

</html>
