---
layout: portfolio-base
title: Works | honai.me
---
<div class="nav-title">
  <h2 class="subtitle">
    <a href="/" class="_uncolor">Honai Ueoka's Portfolio</a>
  </h2>
  <h1 class="title">Works</h1>
</div>

<% url = "https://camph.net/" %>
<% name = "CAMPHOR- Website" %>
<div class="simple-card">
  <h2 class="heading">
    <a href="<%= url %>" class="_reset-a"><%= name %></a>
  </h2>
  <a href="<%= url %>">
    <img
      src="https://res.cloudinary.com/honai/image/upload/f_auto/v1638781653/portfolio/camph-net.jpg"
      alt="<%= name %>"
      class="work-thumb"
      width="725"
      height="361"
    >
  </a>
  <div class="content">
    <ul class="work-desc">
      <li>DjangoからNext.js + Goへのリプレイスを担当</li>
      <li>Code: Private</li>
    </ul>
  </div>
</div>

<% url = "https://lotus.kuee.kyoto-u.ac.jp/NLPforCOVID-19/" %>
<% name = "COVID-19 World Information Watcher" %>
<div class="simple-card">
  <h2 class="heading">
    <a href="<%= url %>" class="_reset-a"><%= name %></a>
  </h2>
  <a href="<%= url %>">
    <img src="/images/covid-19-watcher.png" alt="<%= name %>" class="work-thumb" loading="lazy">
  </a>
  <div class="content">
    <ul class="work-desc">
      <li>Code (frontend): <a href="https://github.com/NLPforCOVID-19/covid-19-ui">NLPforCOVID-19 / covid-19-ui</a></li>
      <li>
        <a href="https://www.nii.ac.jp/today/89/2.html">「世界中のCOVID-19情報が俯瞰できるサイトを構築」第89号 - NII Today</a>
      </li>
      <li><a href="https://www.aclweb.org/anthology/2020.nlpcovid19-2.13/">Paper</a></li>
    </ul>
  </div>
</div>

<% url = "https://excelm.honai.me/" %>
<% name = "ExcElm" %>
<div class="simple-card">
  <h2 class="heading">
    <a href="<%= url %>" class="_reset-a"><%= name %></a>
  </h2>
  <a href="<%= url %>">
    <img src="/images/excelm.png" alt="<%= name %>" class="work-thumb" loading="lazy">
  </a>
  <div class="content">
    <ul class="work-desc">
      <li>Code: <a href="https://github.com/honai/excelm">honai / excelm</a></li>
      <li>
        <a href="https://qiita.com/honai/items/061b024839f1d174436e">ElmでミニExcelを作ろう - Qiita</a>
      </li>
    </ul>
  </div>
</div>

<% url = "https://qa.honai.me/" %>
<% name = "質問箱" %>
<div class="simple-card">
  <h2 class="heading">
    <a href="<%= url %>" class="_reset-a"><%= name %></a>
  </h2>
  <a href="<%= url %>">
    <img src="/images/neing.png" alt="<%= name %>" class="work-thumb" loading="lazy">
  </a>
  <div class="content">
    <ul class="work-desc">
      <li>Code: private</li>
      <li>TypeScript / Next.js / Firebase</li>
    </ul>
  </div>
</div>

<% url = "https://honai.github.io/vscode-shortcuts-wallpaper/" %>
<% name = "VSCode Shortcuts Wallpaper" %>
<div class="simple-card">
  <h2 class="heading">
    <a href="<%= url %>" class="_reset-a"><%= name %></a>
  </h2>
  <a href="<%= url %>">
    <img src="/images/vscode-shortcut.png" alt="<%= name %>" class="work-thumb" loading="lazy">
  </a>
  <div class="content">
    <ul class="work-desc">
      <li>Code: <a href="https://github.com/honai/vscode-shortcuts-wallpaper">honai / vscode-shortcuts-wallpaper</a></li>
      <li>Just reproduced the official keyboard shortcuts reference (PDF) with CSS with darker theme.</li>
    </ul>
  </div>
</div>
